body {
  text-align: center;
  list-style-position: inside;
}

#Heading-1 {
  color: red;
}
#Heading-2 {
  color: #752de9;
}
#Heading-3 {
  color: #caa644;
}
.copy {
  margin-top: 500px;
}
nav ul > li {
  display: inline-block;
  list-style: none;
  display: inline-block;
  padding-left: 10px;
}
